<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <title>[[${session.loginUser.userName}]]-账户安全</title>
    <th:block th:include="~{/common/public_common::common_head}" />
    <link rel="stylesheet" href="" th:href="@{/css/base-201908291.css}" />
    <link rel="stylesheet" href="" th:href="@{/css/lt_base.css}" />
    <link rel="stylesheet" href="" th:href="@{/css/travel.css}"/>
</head>
<body>
<div class="header_wrap">
    <div th:replace="~{/common/public_common::header_top}"></div>
</div>
<link rel="stylesheet" href="" th:href="@{/css/basis-info-20190829.css}"/>
<script src="" th:src="@{/js/security.js}" ></script>
<div class="cententwrap">
    <div th:replace="~{user/common/userInfo_common::info-top(topURI='info')}"></div>
    <div class="basis_wrap">
    <div th:replace="~{user/common/userInfo_common::Cont_L(Cont_L='upd_password')}"></div>
    <div class="Cont_R">
        <div class="Contr_lis security_info" style="display: block;">
            <form id="security" action="" th:action="@{/user/updateSetting}" method="post">
<!--                <input type="hidden" name="_csrf" value="nw3vIVmHoiNiqmKd5teqGHeZnakc0YxOfREAXQeiCUOvOoFpMczTEjLFA_bLvuJfA_j77Fe6xysUXzMxZcxWIQ==" />-->
                <div class="infowrap">
                    <div class="input_lis mobile_tips">
                        <span>手机号码:</span>
                        <input value="" required="required" autocomplete="off"  th:value="${session.loginUser.phoneNumber}"
                               class="" type="text" name="mobile" id="mobile" readonly="readonly">
                    </div>
                    <div class="input_lis">
                        <span>原密码:</span>
                        <input value="" required="required" autocomplete="off" class="" type="password" name="oldpasswd" id="oldpasswd" placeholder="请输入原密码">
                    </div>
                    <div class="input_lis">
                        <span>新密码:</span>
                        <input value="" required="required" autocomplete="off" class="" type="password" name="newpassword" id="newpasswd" placeholder="请输入新密码">
                    </div>
                    <div class="input_lis">
                        <span></span>
                        <input value="" required="required" autocomplete="off" class="" type="password" name="checknewpasswd" id="checknewpasswd" placeholder="请再次输入密码">
                    </div>
                    <div class="input_lis yzm_inp">
                        <span>验证码:</span>
                        <input value="" required="required" type="text" class="yzm-c" maxlength="16" name="validate" id="validate" placeholder="输入验证码">
                        <div class="time " id="validate_btn" onclick="get_updatepwdsms()">获取验证码</div>
                    </div>
                    <div class="tips">
                        收不到验证码？<a class="feedback">去反馈</a>
                    </div>
                </div>
                <div class="tips_info">
                    <p>会员公告</p>
                    <p>1、昵称禁止使用涉黄、政治、赌博、暴力、广告和污蔑性等内容，一旦发现，马上拉黑。</p>
                    <p>2、昵称、头像、和所在地会在评论的时候显示，如果不设置会显示IP所在地区。</p>
                    <p>3、昵称测试阶段禁止修改，给您带来诸多不便，希望能体谅。 </p>
                </div>							<div class="btn_wrap clearf">
                <div class="save_btn" onclick="security_submit()">保存</div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
<script src="" th:src="@{/js/basis-info.js}"></script>
<div th:replace="~{user/common/userInfo_common::fotter}"></div>
<script src="" th:src="@{/js/base.js}"></script>
<script src="" th:src="@{/js/user.js}"></script>

<!--<script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>-->
<div th:replace="~{/common/public_common::login_wrap}"></div>
</body>
</html>