.Sale_L {
    float: left;
    width: 158px;
    height: auto;
    border: 1px solid #1b1b1b;
    background: #313131;
    margin-top: 20px;
}

.Sale_L a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    border-bottom: 1px solid #1b1b1b;
}

.Sale_L a.on, .Sale_L a:hover {
    background: #f0412a;
}

.Sale_L .yearbox {
    width: 100%;
    height: 40px;
}

.Sale_L .yearbox span {
    width: 70px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    color: #303030;
    font-size: 16px;
    color: #fff;
    text-align: center;
    display: block;
    float: left;
}

.Sale_L .yearbox .yearlis {
    width: 86px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #131313;
    float: right;
    cursor: pointer;
    position: relative;
}

.Sale_L .yearbox .yearlis .yearnum {
    position: absolute;
    z-index: 0;
    width: 86px;
    height: 40px;
    right: 0;
    top: 0;
    border-left: 1px solid #1b1b1b;
}

.Sale_L .yearbox .yearlis .yearnum i {
    display: inline-block;
    background: url(/image/img-a.png) no-repeat;
    height: 9px;
    width: 16px;
    background-position: -195px -150px;
    vertical-align: middle;
    margin-left: -12px;
}

.Sale_L .yearbox .yearlis:hover .yearlink {
    display: block;
}

.Sale_L .yearbox .yearlis .yearlink {
    display: none;
    width: 85px;
    position: absolute;
    background: #131313;
    border: 1px solid #1b1b1b;
    top: 40px;
    right: 0;
}

.Sale_L .yearbox .yearlis .yearlink a {
    display: block;
    widows: 100%;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #1b1b1b;
}

.Sale_L .yearbox .yearlis .yearlink a:hover {
    background: #313131;
}

.Sale_R {
    margin-top: 20px;
    float: right;
    width: 980px;
}

.Sale_R .Rtop {
    width: 100%;
    height: 24px;
    line-height: 16px;
    font-size: 16px;
    border-bottom: 1px solid #d1d1d1;
    color: #303030;
}

.Sale_R .Rtop p {
    float: left;
}

.Sale_R .Rtop span {
    font-family: arial;
    color: #f0412a;
}

.Sale_R .Rtop i {
    font-family: arial;
}

.Sale_R .Rtop .inpbox {
    float: right;
    font-size: 13px;
}

.Sale_R .Rtop .inpbox input {
    margin-bottom: 3px;
}

.Sale_R .Rtop .inpbox label {
    margin-left: 3px;
}

.Sale_R .Sale_list {
    overflow: hidden;
    width: 100%;
}

.Sale_R .Sale_list .Sale_list_emptyTip {
    height: 300px;
    text-align: center;
    line-height: 550px;
    font-size: 23px;
    color: #666;
}

.Sale_R .Sale_list .lis {
    width: 100%;
    height: 205px;
    border: 1px solid #dadada;
    margin-top: 25px;
    background: #f6f6f6;
    position: relative;
}

.Sale_R .Sale_list .lis .img {
    margin: 23px;
    float: left;
}

.Sale_R .Sale_list .lis .img img {
    width: 128px;
    height: 158px;
}

.Sale_R .Sale_list .lis .bt {
    float: left;
    width: 630px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 22px;
    overflow: hidden;
    font-size: 18px;
}

.Sale_R .Sale_list .lis .bt a {
    color: #f0412a;
}

.Sale_R .Sale_list .lis .bt span {
    font-size: 12px;
    color: #313131;
    margin-left: 12px;
    font-weight: 100;
}

.Sale_R .Sale_list .lis .linbox {
    float: left;
    width: 630px;
    height: 5px;
    background: #e2e2e2;
    border-radius: 3px;
    margin-top: 15px;
}

.Sale_R .Sale_list .lis .infolis {
    width: 630px;
    float: left;
    height: 90px;
    line-height: 28px;
    font-size: 13px;
    color: #313131;
    margin-top: 20px;
}

.Sale_R .Sale_list .lis .infolis li {
    display: block;
    float: left;
    width: 49%;
    height: 28px;
    overflow: hidden;
    margin-right: 0.33%;
}

.Sale_R .Sale_list .lis .infolis li:last-child {
    width: 100%;
}

.Sale_R .Sale_list .lis .infolis li i {
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin: 0 6px 4px 0;
    background: #595959;
}

/*.Sale_R .Sale_list .lis .infolis li span { color: #ff9b1f; }*/
.Sale_R .Sale_list .lis .scobox {
    width: 170px;
    height: 200px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}

.Sale_R .Sale_list .lis .scobox .num {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    color: #fff;
    background: url(/image/phblis.png) no-repeat;
    background-position: 0 -76px;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    text-indent: 8px;
}

.Sale_R .Sale_list .lis .scobox .score_a span {
    display: block;
    font-size: 50px;
    color: #313131;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 50px auto 10px;
}

.Sale_R .Sale_list .lis .scobox .score_a p {
    width: 100%;
    height: 16px;
    overflow: hidden;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
}

.Sale_R .Sale_list .lis .scobox .ztbtn {
    display: block;
    margin: 10px auto 0;
    width: 120px;
    height: 33px;
    border: 1px solid #1b1b1b;
    background: #666;
    text-align: center;
    line-height: 33px;
    border: 1px solid #1b1b1b;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
}

.Sale_R .Sale_list .lis .scobox .ztbtn:hover {
    background: #f0412a;
}

 