<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>单机游戏_最全的单机游戏下载平台_3DM单机游戏</title>
    <meta name="Keywords" content="单机游戏,单机游戏下载,单机游戏排行榜,单机游戏下载大全,汉化游戏">
    <meta name="Description"
          content="3DM单机游戏频道提供了最全面的单机游戏资源下载，同时还带来了最新的游戏资讯，最全的游戏攻略，最实用的补丁修改器，热门游戏排行榜等。在这能够掌控单机游戏的所有信息。">
    <th:block th:include="~{/common/public_common::common_head}"/>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/dj_base-2008259.css}">
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/dj_common.css}">
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/index.css}">
    <!--    <script src="" th:src="@{/js/ds.js}"></script>-->
</head>
<body>

<div th:replace="~{/common/public_common::header_wrap(pageUrl='game')}"></div>

<div class="content">
    <!--标签-->
    <div class="Min_0">
        <div class="lis lis1">
            <p>热门单机</p>
            <a class="red" href="index15.html" target="_blank">荒野大镖客2<i></i></a>
            <a href="index16.html" target="_blank">紫塞秋风<i></i></a>
            <a href="index17.html" target="_blank">骑马与砍杀2<i></i></a>
            <a class="red" href="index18.html" target="_blank">刺客信条：奥德赛<i></i></a>
            <a href="index19.html" target="_blank">鬼泣5<i></i></a>
            <a class="red" href="index20.html" target="_blank">怪物猎人：世界<i></i></a>
            <a href="index21.html" target="_blank">侠盗猎车5<i></i></a>
            <a class="red" href="index22.html" target="_blank">奥日与鬼火意志<i></i></a>
            <a href="index23.html" target="_blank">只狼：影逝二度<i></i></a>
            <a class="red" href="index24.html" target="_blank">无主之地3<i></i></a>
            <a class="red" href="index25.html" target="_blank">死亡搁浅<i></i></a>
            <a href="index26.html" target="_blank">模拟人生4<i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a class="red" href="index27.html" target="_blank">空洞骑士<i></i></a>
            <a href="index28.html" target="_blank">战争之影<i></i></a>
            <a href="index29.html" target="_blank">茶杯头<i></i></a>
            <a href="index30.html" target="_blank">幻想三国志5<i></i></a>
            <a href="index31.html" target="_blank">天国：拯救<i></i></a>
            <a class="red" href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
        </div>
        <div class="lis lis2">
            <p>近期新作</p>
            <a href="index32.html" target="_blank">宝可梦：剑/盾<i></i></a>
            <a class="red" href="index33.html" target="_blank">废土3<i></i></a>
            <a class="red" href="index34.html" target="_blank">漫威复仇者联盟<i></i></a>
            <a href="index35.html" target="_blank">极品飞车21<i></i></a>
            <a class="red" href="index36.html" target="_blank">亦春秋<i></i></a>
            <a href="index37.html" target="_blank">超级马里奥制造2<i></i></a>
            <a class="red" href="index38.html" target="_blank">十字军之王3<i></i></a>
            <a href="index39.html" target="_blank">对马岛之鬼<i></i></a>
            <a href="index40.html" target="_blank">仁王2<i></i></a>
            <a href="index41.html" target="_blank">灵魂能力6<i></i></a>
            <a href="index42.html" target="_blank">克苏鲁的呼唤<i></i></a>
            <a class="red" href="index43.html" target="_blank">战神4<i></i></a>
            <a href="index44.html" target="_blank">NBA2K19<i></i></a>
            <a class="red" href="index45.html" target="_blank">大雄的牧场物语<i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a class="red" href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a class="red" href="" target="_blank"><i></i></a>
        </div>
        <div class="lis lis3">
            <p>即将上市</p>
            <a href="index46.html" target="_blank">暗黑破坏神4<i></i></a>
            <a href="index47.html" target="_blank">孤岛惊魂6<i></i></a>
            <a href="index48.html" target="_blank">莱莎2<i></i></a>
            <a href="index49.html" target="_blank">仙剑奇侠传7<i></i></a>
            <a class="red" href="index50.html" target="_blank">博德之门3<i></i></a>
            <a href="index51.html" target="_blank">刺客信条：英灵殿<i></i></a>
            <a class="red" href="index52.html" target="_blank">赛博朋克2077<i></i></a>
            <a href="index53.html" target="_blank">看门狗：军团<i></i></a>
            <a href="index54.html" target="_blank">渡神纪<i></i></a>
            <a href="index55.html" target="_blank">FIFA 21<i></i></a>
            <a class="red" href="index49.html" target="_blank">仙剑奇侠传7<i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a class="red" href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a class="red" href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
        </div>
    </div>
    <div class="Min Min_1">
        <div class="Min_L">
            <!--评测-->
            <div class="pctj">
                <th:block th:each="article:${articles}" th:if="${articleStat.index < 4}">
                    <a th:href="@{/article/details/{aid}(aid=${article.articleId})}" target="_blank" class="lis">
                        <div class="img"><img th:src="${article.headCover}"></div>
                        <p th:text="${article.title}">《海商王4》评测 7.8分：商人、海盗和殖民者</p>
                        <span th:if="${article.game.aveScore != null}" th:text="${#numbers.formatDecimal(article.game.aveScore, 0, 1)}">7.8</span>
                        <span th:if="${article.game.aveScore == null}" th:text="0.0">7.8</span>
                    </a>
                </th:block>

<!--                <a href="3742377.html" target="_blank" class="lis">-->
<!--                    <div class="img"><img src="static/picture/1600832209_139352_1.jpg"></div>-->
<!--                    <p>《四海兄弟：最终版》评测：叙事和开放世界无法兼得</p>-->
<!--                    <span>8.0</span>-->
<!--                </a>-->
<!--                <a href="3742376.html" target="_blank" class="lis">-->
<!--                    <div class="img"><img src="static/picture/1600741281_613597_1.png"></div>-->
<!--                    <p>《速降王者》PS4版评测：逃避可耻，但很有用</p>-->
<!--                    <span>8.0</span>-->
<!--                </a>-->
<!--                <a href="3742375.html" target="_blank" class="lis">-->
<!--                    <div class="img"><img src="static/picture/1600668937_650395_1.jpg"></div>-->
<!--                    <p>《原神》评测：终将不负漫长的等待</p>-->
<!--                    <span>8.0</span>-->
<!--                </a>-->
            </div>

            <!--幻灯-->
            <div class="hdwrap">
                <div class="ban" id="hdlist">
                    <div class="ban2" id="ban_pic1">
                        <ul>
                            <th:block th:each="article:${articles}" th:if="${articleStat.index < 5}">
                                <li>
                                    <a th:href="@{/article/details/{aid}(aid=${article.articleId})}" target="_blank">
                                        <img th:src="${article.articleCover}" alt="">
                                    </a>
                                    <div class="bt">
                                        <a th:href="@{/article/details/{aid}(aid=${article.articleId})}" target="_blank" th:text="${article.title}">新传言声称《血源》PS5/PC重制版真实且包含新内容</a>
                                    </div>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                    <div class="min_pic">
                        <div class="num clearfix" id="ban_num1">
                            <ul>
                                <th:block th:each="article:${articles}" th:if="${articleStat.index < 5}">
                                    <li>
                                        <a th:href="@{/article/details/{aid}(aid=${article.articleId})}"><img th:src="${article.articleCover}"></a>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--即将发售-->
            <div class="fswrap">
                <div class="QZ_title ">
                    <div>
                        <span><i class="ico1"></i>即将发售</span>
                        <a href="index56.html" th:href="@{/release/101202010}" target="_blank"
                           class="mor2">更多<i></i></a>
                    </div>
                    <div class="lin"></div>
                </div>
                <div class="liswrap" th:remove="all-but-first">
                    <div class="lis" th:each="gameInfo:${unReleaseGame}">
                        <a href="index50.html" target="_blank" th:href="@{/game/{gid}(gid=${gameInfo.gameInfo.gameId})}" class="img">
                            <img src="" th:src="${gameInfo.gameInfo.gameCoverImg}">
                        </a>
                        <a href="index50.html" target="_blank" th:href="@{/game/{gid}(gid=${gameInfo.gameInfo.gameId})}"
                           class="name" th:text="${gameInfo.gameInfo.gameName}">博德之门3</a>
                        <p th:text="${#dates.format(gameInfo.getFirstPlatform().releaseDate, 'yyyy-MM-dd')}">
                            2020-10-06</p>
                    </div>
                    <div class="lis">
                        <a href="index55.html" target="_blank" class="img"><img
                                src="static/picture/1591686894_712995.jpg"></a>
                        <a href="index55.html" target="_blank" class="name">FIFA 21</a>
                        <p>2020-10-09</p>
                    </div>
                    <div class="lis">
                        <a href="index53.html" target="_blank" class="img"><img
                                src="static/picture/1560218592_880651.jpg"></a>
                        <a href="index53.html" target="_blank" class="name">看门狗：军团</a>
                        <p>2020-10-29</p>
                    </div>
                    <div class="lis">
                        <a href="index51.html" target="_blank" class="img"><img
                                src="static/picture/1588209053_868202.jpg"></a>
                        <a href="index51.html" target="_blank" class="name">刺客信条：英灵殿</a>
                        <p>2020-11-10</p>
                    </div>
                    <div class="lis">
                        <a href="index52.html" target="_blank" class="img"><img
                                src="static/picture/1560151349_388893.jpg"></a>
                        <a href="index52.html" target="_blank" class="name">赛博朋克2077</a>
                        <p>2020-11-19</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="Min_R">
            <!--游戏标签-->
            <div class="bqlis">
                <div class="QZ_title ">
                    <div>
                        <span><i class="ico4"></i>游戏标签</span>
                        <a href="" th:href="@{/tag}" target="_blank" class="mor2">更多<i></i></a>
                    </div>
                    <div class="lin"></div>
                </div>
                <div class="liswrap">
                    <div class="lis1">
                        <a href="index62.html" th:href="@{/tag/106}" target="_blank" class="img">
                            <img src="" th:src="@{/picture/1528943780_724841.jpg}"></a>
                        <div class="mbwrap">
                            <p class="p_bt">开放世界</p>
                            <a href="index62.html" th:href="@{/tag/106}" target="_blank" class="btn_jin">进入</a>
                        </div>
                    </div>
                    <div class="lis1">
                        <a th:href="@{/tag/101}" target="_blank" class="img">
                            <img src="" th:src="@{/picture/1532614523_663110.jpg}"></a>
                        <div class="mbwrap">
                            <p class="p_bt">沙盒</p>
                            <a th:href="@{/tag/101}" target="_blank" class="btn_jin">进入</a>
                        </div>
                    </div>
                    <div class="lis2">
                        <a th:href="@{/tag/100}" target="_blank">国产</a>
                        <a th:href="@{/tag/102}" target="_blank">音乐</a>
                        <a th:href="@{/tag/103}" target="_blank">回合制</a>
                        <a th:href="@{/tag/104}" target="_blank">卡牌</a>
                        <a th:href="@{/tag/105}" target="_blank">动作</a>
                        <a th:href="@{/tag/107}" target="_blank">大型游戏</a>
                        <a href="index70.html" target="_blank">塔防</a>
                        <a href="index71.html" target="_blank">武侠</a>
                        <a href="index72.html" target="_blank">魔幻</a>
                        <a href="index73.html" target="_blank">科幻</a>
                        <a href="index74.html" target="_blank">卡通</a>
                        <a href="index75.html" target="_blank">都市</a>
                        <a href="index76.html" target="_blank">仙侠</a>
                        <a href="index77.html" target="_blank">写实</a>
                        <a href="index78.html" target="_blank">历史</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="Min Min_5">
        <div class="Mi5_top">
            <div class="lin"></div>
            <div class="bt"><i></i>单机游戏排行榜</div>
        </div>
        <div class="phliswrap">
            <div class="lis">
                <div class="phtop">2020新游排行</div>
                <div class="listop">
                    <p class="lis1">排名</p><span></span>
                    <p class="lis2">游戏名称</p><span></span>
                    <p class="lis4">类型</p><span></span>
                    <p class="lis5">热度</p>
                </div>
                <ul>
                    <li th:each="game:${top10}" th:class="${(gameStat.index+1) == 1}?'on':_">
                        <div class="show_a">
                            <i th:text="${gameStat.index + 1}">1</i>
                            <a th:href="@{/game/{gid}(gid=${game.gameInfo.gameId})}" target="_blank" class="name"
                               th:text="${game.gameInfo.gameName}">侠盗猎车5/GTA5</a>
                            <div class="type" th:text="${game.gameInfo.type.typeName}">arpg</div>
                            <div class="hot" th:text="${game.views}">36073697</div>
                        </div>
                        <a th:href="@{/game/{gid}(gid=${game.gameInfo.gameId})}" target="_blank" class="img">
                            <img th:src="${game.gameInfo.gameCoverImg}">
                            <div class="text">
                                <i th:text="${gameStat.index + 1}">1</i>
                                <div class="bt" th:text="${game.gameInfo.gameName}">侠盗猎车5/GTA5</div>
                                <p class="p">热度：<span th:text="${game.views}">36073697</span></p>
                                <p class="p">类型：<span th:text="${game.gameInfo.type.typeName}">arpg</span></p>
                                <p class="p">发售：<span th:text="${#dates.format(game.firstPlatform.releaseDate, 'yyyy-MM-dd')}">2015-04-14</span></p>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="lis">
                <div class="phtop">总排行</div>
                <div class="listop">
                    <p class="lis1">排名</p><span></span>
                    <p class="lis2">游戏名称</p><span></span>
                    <p class="lis4">类型</p><span></span>
                    <p class="lis5">热度</p>
                </div>
                <ul>
                    <li th:each="game:${top10}" th:class="${(gameStat.index+1) == 1}?'on':_">
                        <div class="show_a">
                            <i th:text="${gameStat.index + 1}">1</i>
                            <a th:href="@{/game/{gid}(gid=${game.gameInfo.gameId})}" target="_blank" class="name"
                                th:text="${game.gameInfo.gameName}">侠盗猎车5/GTA5</a>
                            <div class="type" th:text="${game.gameInfo.type.typeName}">arpg</div>
                            <div class="hot" th:text="${game.views}">36073697</div>
                        </div>
                        <a th:href="@{/game/{gid}(gid=${game.gameInfo.gameId})}" target="_blank" class="img">
                            <img th:src="${game.gameInfo.gameCoverImg}">
                            <div class="text">
                                <i th:text="${gameStat.index + 1}">1</i>
                                <div class="bt" th:text="${game.gameInfo.gameName}">侠盗猎车5/GTA5</div>
                                <p class="p">热度：<span th:text="${game.views}">36073697</span></p>
                                <p class="p">类型：<span th:text="${game.gameInfo.type.typeName}">arpg</span></p>
                                <p class="p">发售：<span th:text="${#dates.format(game.firstPlatform.releaseDate, 'yyyy-MM-dd')}">2015-04-14</span></p>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="lis">
                <div class="phtop">新游期待榜</div>
                <div class="listop">
                    <p class="lis1">排名</p><span></span>
                    <p class="lis2">游戏名称</p><span></span>
                    <p class="lis4">类型</p><span></span>
                    <p class="lis5">热度</p>
                </div>
                <ul>
                    <li th:each="game:${top10}" th:class="${(gameStat.index+1) == 1}?'on':_">
                        <div class="show_a">
                            <i th:text="${gameStat.index + 1}">1</i>
                            <a th:href="@{/game/{gid}(gid=${game.gameInfo.gameId})}" target="_blank" class="name"
                               th:text="${game.gameInfo.gameName}">侠盗猎车5/GTA5</a>
                            <div class="type" th:text="${game.gameInfo.type.typeName}">arpg</div>
                            <div class="hot" th:text="${game.views}">36073697</div>
                        </div>
                        <a th:href="@{/game/{gid}(gid=${game.gameInfo.gameId})}" target="_blank" class="img">
                            <img th:src="${game.gameInfo.gameCoverImg}">
                            <div class="text">
                                <i th:text="${gameStat.index + 1}">1</i>
                                <div class="bt" th:text="${game.gameInfo.gameName}">侠盗猎车5/GTA5</div>
                                <p class="p">热度：<span th:text="${game.views}">36073697</span></p>
                                <p class="p">类型：<span th:text="${game.gameInfo.type.typeName}">arpg</span></p>
                                <p class="p">发售：<span th:text="${#dates.format(game.firstPlatform.releaseDate, 'yyyy-MM-dd')}">2015-04-14</span></p>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>

<script src="" th:src="@{/js/pic_tab.js}"></script>
<script src="" th:src="@{/js/Slide.js}"></script>
<script src="" th:src="@{/js/index.js}"></script>
<div th:replace="~{/common/public_common::fotter}"></div>
<script src="" th:src="@{/webjars/layer/dist/layer.js}"></script>
<script src="static/js/common-2008252.js" th:src="@{/js/common.js}"></script>
<!--<script src="static/js/user-08251.js" th:src="@{/js/user.js}"></script>-->
<!--<script src="static/js/TCaptcha.js"></script>-->
<div th:replace="~{/common/public_common::login_wrap}"></div>
</body>
</html>