<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igame.mapper.wrapper.GameInfoWrapperMapper">
  <resultMap id="GameIdResultMap" type="com.igame.entity.wrapper.GameInfoWrapper">
    <association property="gameInfo" select="com.igame.mapper.GameInfoMapper.selectByPrimaryKey"
                 column="game_id">
    </association>
    <association property="tags" select="com.igame.mapper.GameTagMapper.selectByGameId"
                 column="game_id">
    </association>
    <association property="gamePlatformMap" select="com.igame.mapper.GamePlatformMapper.selectByGameId"
                column="game_id">
    </association>
    <collection property="scores" select="com.igame.mapper.GameScoreMapper.selectByGameId"
                column="game_id">
    </collection>
  </resultMap>

  <select id="selectByGameId" resultMap="GameIdResultMap">
    select game_id from tb_gameinfo
    where game_id = #{gameId,jdbcType=INTEGER}
  </select>
  <select id="selectByTagId" resultMap="GameIdResultMap">
    select game_id from tb_gametag
    where tag_id=#{tagId,jdbcType=INTEGER}
  </select>
  <select id="selectByTypeId" resultMap="GameIdResultMap">
    select game_id from tb_gameinfo
    where type_id=#{typeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="GameIdResultMap">
    select game_id from tb_gameinfo
  </select>
  <select id="selectAllUnRelease" resultMap="GameIdResultMap">
    SELECT game_id FROM tb_game_platform WHERE release_date > NOW() ORDER BY release_date
  </select>
  <select id="selectUnReleaseByPlat" resultMap="GameIdResultMap">
    SELECT game_id FROM tb_game_platform
    WHERE release_date > NOW()
    AND platform_id=#{platId,jdbcType=INTEGER}
    ORDER BY release_date
  </select>
  <select id="selectAllReleased" resultMap="GameIdResultMap">
    SELECT game_id FROM tb_game_platform
    WHERE NOW() > release_date
    ORDER BY release_date DESC
  </select>
  <select id="selectByDate" resultMap="GameIdResultMap">
    SELECT game_id FROM tb_game_platform
    <where>
      <if test="year != null and year > 0">
        AND YEAR(release_date) = #{year}
      </if>
      <if test="month != null and month > 0">
        AND MONTH(release_date) = #{month}
      </if>
      <if test="platId != null">
        AND platform_id = #{platId}
      </if>
    </where>
    ORDER BY release_date
  </select>
  <select id="selectRelease" resultMap="GameIdResultMap">
    SELECT game_id FROM tb_game_platform
    <where>
      <if test="release == true">
        AND NOW() > release_date
      </if>
      <if test="release == false">
        AND release_date > NOW()
      </if>
      <if test="platId != null">
        AND platform_id = #{platId}
      </if>
    </where>
    <if test="release == true">
      ORDER BY release_date DESC
    </if>
    <if test="release == false">
      ORDER BY release_date
    </if>
  </select>
  <select id="selectRankByViews" resultMap="GameIdResultMap">
    select game_id from tb_gameinfo
    order by views desc
  </select>

</mapper>